@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply transition-colors duration-300;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
